/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
<<<<<<< HEAD
  padding-top: 0px;
=======
  padding-top: 20px;
>>>>>>> Master
}

/* Control the left side */
.left {
  left: 0;
<<<<<<< HEAD
  overflow: hidden;/*hides scrollbar from left side of page*/
=======
  background-color: white;
>>>>>>> Master
}

/* Control the right side */
.right {
  right: 0;
<<<<<<< HEAD
  overflow: hidden; /*hides scrollbar from  right side of page*/
}

img { /* Making sure we take up full half on each side */
	height: 100%;
	width: 100%;	
}

/* Adding Text Over Top of Image*/
.topCenterText {
  position: absolute;
  top: 5%;
  left: 23%;
  transform: translate(-50%, -50%);	
=======
  background-color: Gray;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
>>>>>>> Master
}