/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
  overflow: hidden;/*hides scrollbar from left side of page*/
}

/* Control the right side */
.right {
  right: 0;
  overflow: hidden; /*hides scrollbar from  right side of page*/
}

img { /* Making sure we take up full half on each side */
	height: 100%;
	width: 100%;	
}

/* Adding Text Over Top of Image*/
.topCenterText {
  position: absolute;
  top: 5%;
  left: 23%;
  transform: translate(-50%, -50%);	
}